* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 75%;
    color: white;
    background-color: rgb(32, 32, 32);
    border: 4px solid white;
    border-radius: 10px;
    font-size: 100%;
}

#texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    color: white;
}

input {
    border: 2px solid white;
    border-radius: 10px;
    font-size: 120%;
    color: white;
    background-color: rgb(32, 32, 32);
    padding: 5px;
}

#weather {
    color: white;
}

#map {
    width: 60%;
    height: 50%;
    margin-top: 30px;
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    header {
        width: 90%;
        font-size: 90%;
    }

    #map {
        width: 80%;
        height: 50%;
    }

    input {
        font-size: 100%;
        width: 80%;
    }

    #texto {
        margin-top: 5%;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    header {
        width: 95%;
        font-size: 80%;
        padding: 8px;
    }

    #map {
        width: 100%;
        height: 250px;
    }

    input {
        font-size: 90%;
        width: 90%;
    }

    #texto {
        margin-top: 5%;
    }
}
